.quantity-selector {
    display: flex;
    flex-direction: row;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
}

.quantity-input {
    width: 3rem;
    text-align: center;
    border: solid #D4D4D4;
    border-width: 0px 1px 0px 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
